<body>
  <header class="titulo3">
    <p>forgot your password?</p>
  </header>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="login">
  	<ul><li>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  	</li>
  	</ul>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</body>