<body>
  <header class="titulo2">
    <p>welcome to</p>
    <h3>logbook</h3>
  </header>
<div class="login">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<ul>
  <li>
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, value:"write your nickname" %>
  </li>

  <li>
    <%= f.label :email %><br />
    <%= f.email_field :email, value:"write your email" %>
  </li>

  <li>
    <%= f.label :password %>
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters min)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", value:"password" %>
  </li>

  <li>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", value:"password" %>
  </li>
</ul>
  <div class="button">
    <%= f.submit "GO" %>
  </div>
<% end %>
</div>
<%= render "devise/shared/links" %>

</body>