<body>
	<header class="titulo2">
		<p>welcome to</p>
		<h3>logbook</h3>
	</header>
	<div class="login">
		<form>
		<ul>
			<li>user
				<div class="input">
   					<input id="user" type="text" name="nickname" value="&#xf003; nickname">
				</div>
			</li>
			<li>password
				<div class="input">
   					<input id="pwd" type="password" name="pwd" value="&#xf023; password">
				</div>
			</li>
		</ul>
		<div class="button" href='/login' method='POST'>GO</div>
	</form>
	</div>
</body>
<% if user_signed_in? %>
    <h1><%= current_user.name %>, you're login</h1>
    <%= link_to 'Logout',destroy_user_session_path, method: 'DELETE' %> 
    <% else %>
    <h1>You're not login</h1>
    <% end %>

<h1><%= @user.name %> has many comics</h1>
<h2>Comics</h2>
<ul>
    <% @user.comics.each do |c| %>
    <li><%= c.title %> (<%= c.publisher %>)</li>
    <% end %>
</ul>

